<h1>1. Sicherer Umgang mit Computern und Informationen</h1>
<p class="kapitel-description">Informationen sind das Kapital jedes Unternehmens. Alle Mitarbeiterinnen und Mitarbeiter
    müssen über den Wert der Information Bescheid wissen. Der Missbrauch von Daten kann Wettbewerbsnachteile,
    Umsatzeinbußen, Imageverluste oder rechtliche Probleme zur Folge haben. Daher ist es besonders
    wichtig, Informationen und Computer vor unberechtigter Verwendung zu schützen.</p>
<hr>

<h2 class="text-normal">1.1 Sicherer Umgang mit personenbezogenen Daten</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=8"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 8:
    </a>
</div>
<p>Der Umgang mit personenbezogenen Daten – diese können natürlichen, aber auch juristischen Personen zugeordnet werden
    –
    wird durch das österreichische Datenschutzgesetz (DSG 2000) geregelt. Dieses Gesetz stellt alle personenbezogenen
    Daten, insbesondere aber auch „sensible personenbezogene Daten“ (zu Rasse und ethnischer Herkunft, politischer
    Meinung,
    Gewerkschaftszugehörigkeit, religiöser oder philosophischer Überzeugung, Gesundheit oder Sexualleben) unter
    besonderen Schutz. Weiters legt es fest, dass alle personenbezogenen Daten nur zu festgelegten Zwecken und aufgrund
    einer
    ausdrücklichen Anordnung des Dienstgebers verwendet und weitergegeben werden dürfen.
    <br>
    <br>
    Ab 25. Mai 2018 wird das
    Datenschutzgesetz 2000 durch die EU-Datenschutz Grundverordnung (kurz: DSGVO) und das Datenschutzanpassungsgesetz
    2018 ersetzt. Die Datenschutz-Grundverordnung ist zwar als EU-Verordnung in jedem EU-Mitgliedstaat unmittelbar
    anwendbar, sie enthält jedoch zahlreiche Öffnungsklauseln und lässt dem nationalen Gesetzgeber gewisse Spielräume.
    Es gibt
    daher auch eine Novelle des österreichischen Datenschutzgesetzes 2000 (das „Datenschutz-Anpassungsgesetz 2018“). Bis
    zum
    25. Mai 2018 müssen daher alle Datenanwendungen im Betrieb an die neue Rechtslage angepasst werden.
</p>

<div class="kapitel-hinweise">
    <h3>Beachten Sie folgende Hinweise:</h3>
    <ul>
        <li>Sie müssen personenbezogene Daten, die Ihnen aufgrund Ihrer beruflichen Tätigkeit
            anvertraut wurden, geheim halten.
        </li>
        <li>Ihr Arbeitgeber muss Ihnen klare Anweisungen geben, auf welche Weise diese Daten
            verarbeitet bzw. an welche andere Personen oder Unternehmen sie weitergegeben
            werden dürfen. Jede andere Nutzung oder Weitergabe personenbezogener Daten ist
            nicht erlaubt.</li>

        <li>Der Arbeitgeber hat Sie über Ihre Pflichten nach dem DSG 2000 (ab Mai 2018 nach dem
            DSG und der DSGVO) sowie den internen Vorschriften zu belehren.</li>

        <li>Nach dem Ausscheiden aus dem Betrieb oder dem Wechsel der Arbeitsstelle dürfen
            Sie personenbezogene Daten, die Ihnen beruflich zugänglich gemacht wurden, nicht
            weitergeben oder für andere Zwecke nutzen.</li>
    </ul>
</div>
<p>
    Verstöße gegen das Datenschutzrecht werden mit hohen Geldstrafen für Ihr Unternehmen geahndet und können auch für
    Sie arbeitsrechtliche Konsequenzen haben. Zusätzlich können Geschädigte Schadenersatz einklagen. Dazu kommt noch der
    Vertrauensverlust bei Kunden und Geschäftspartnern.
    <br><br>
    Es ist daher empfehlenswert, bei der Verwendung personenbezogener
    Daten besondere Vorsicht walten zu lassen. Sie müssen so gespeichert werden, dass sie für unberechtigte Personen
    nicht
    zugänglich sind.
</p>
<hr>
<h2>1.2 Clear Desk Policy</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=9"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 9:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/pexels-dziana-hasanbekava-7063739.jpg" alt="">
    <figcaption>Foto von <a
            href="https://www.pexels.com/de-de/@dziana-hasanbekava?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Dziana
            Hasanbekava</a> von <a
            href="https://www.pexels.com/de-de/foto/licht-kaffee-tasse-becher-7063739/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
    </figcaption>
</figure>

<p>Clear Desk-Policy bedeutet, dass die Mitarbeiterinnen und Mitarbeiter alle vertraulichen Unterlagen bei Abwesenheit
    verschließen, sodass unberechtigte Personen (Besucherinnen und Besucher, Reinigungspersonal, aber auch unbefugte
    Kolleginnen und Kollegen etc.) keinen Zugriff darauf haben. Dies gilt insbesondere für Großraumbüros oder Räume mit
    Publikumsverkehr.</p>
<div class="kapitel-hinweise">
    <h3>Beachten Sie folgende Hinweise:</h3>
    <ul>
        <li>Achten Sie darauf, dass Computerausdrucke oder Kopien mit sensiblen Informationen nicht für Unbefugte frei
            zugänglich
            herumliegen, z.B. neben dem Drucker oder im Kopierer. Solche Dokumente müssen sicher verwahrt oder
            zuverlässig
            vernichtet werden.</li>
        <li>Versperren Sie Schriftstücke oder Datenträger mit vertraulichen Inhalten an einem sicheren Ort
            (Schreibtisch,
            versperrbare Kästen, Datenträgersafe)!</li>
        <li>Bewahren Sie unter keinen Umständen Passwortnotizen an Ihrem Arbeitsplatz auf (unter der
            Schreibtischunterlage, als
            Post-it am Bildschirm)!</li>
        <li>Sperren Sie Ihren Computer, wenn Sie Ihren Arbeitsplatz für längere Zeit verlassen (z. B. unter Windows mit
            „Windows-Taste + L“)! Unbeaufsichtigte, nicht gesperrte Computer sind ein hohes Sicherheitsrisiko. Unbefugte
            könnten so
            Zugang zu vertraulichen Daten erhalten.</li>
        <li>Konfigurieren Sie einen Bildschirmschoner, der sich nach maximal fünf Minuten aktiviert und nur durch
            Eingabe eines
            Passworts aufzuheben ist. Falls bereits ein passwortgeschützter Bildschirmschoner installiert ist,
            deaktivieren Sie ihn
            nicht!</li>
        <li>Richten Sie Ihr Smartphone oder Tablet so ein, dass es nur nach Eingabe einer PIN oder eines Passworts
            verwendet werden
            kann. Lassen Sie es nicht entsperrt liegen und geben Sie es nicht unbeaufsichtigt an Andere weiter!</li>

    </ul>
</div>
<hr>
<h2>1.3 Datenträger und Papierdokumente richtig entsorgen</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=10"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 10:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/sigmund-jZXZvw2CdqY-unsplash.jpg" alt="">
    <figcaption>
        Foto von <a
            href="https://unsplash.com/@sigmund?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sigmund</a>
        von <a
            href="https://unsplash.com/s/photos/shredder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </figcaption>
</figure>


<p>Computer, Datenträger und Papierdokumente mit vertraulichen oder personenbezogenen Inhalten, die defekt geworden sind
    oder nicht mehr benötigt werden, müssen auf sichere Art entsorgt werden. Sorglos weggeworfene Dokumente oder
    liegengelassene Kopien können ein ernstes Sicherheitsproblem darstellen, wenn diese Dokumente in falsche Hände
    geraten
    und missbräuchlich verwendet werden.</p>

<div class="kapitel-hinweise">
    <h3>Bitte beachten Sie folgende Hinweise, wenn Sie Papierdokumente oder Datenträger wie z.B. USB-Sticks,
        Festplatten,
        Speicherkarten, CDs/DVDs, Mikrofiches und Sicherungsbänder entsorgen:</h3>
    <ul>
        <li>
            Werfen Sie Datenträger auf keinen Fall in den Papierkorb! Sofern es sich um Inhalte handelt, die
            Außenstehenden nicht
            zugänglich gemacht werden dürfen, müssen die Datenträger sicher entsorgt werden. Beachten Sie, dass diese
            Vorgehensweise
            auch bei Archivmaterial einzuhalten ist.
        </li>
        <li>
            Übergeben Sie die nicht mehr benötigten Datenträger den Verantwortlichen Ihrer EDV-Abteilung bzw. einer
            eigens zu diesem
            Zweck bestimmten Person, die für die sichere Entsorgung zuständig ist.
        </li>
        <li>
            Wenn Sie eine Festplatte verkaufen oder entsorgen wollen, müssen Sie vorher alle Inhalte mit einer
            geeigneten
            Löschsoftware löschen. Das Formatieren der Festplatte ist nicht ausreichend! Verwenden Sie stattdessen ein
            Programm wie
            Eraser oder Disk Wipe. Beide Programme sind kostenlos und bieten sichere Methoden zur endgültigen
            Bereinigung Ihrer
            Datenträger.
        </li>
        <li>
            Für USB-Sticks, Solid State-Disks und Speicherkarten sind die oben genannten Programme nicht geeignet!
            Neuere Modelle
            können über den Befehl „Secure Erase“ zuverlässig gelöscht werden, bei vielen älteren Typen ist aber kein
            sicheres
            Löschen möglich. Solche Datenträger dürfen nicht verkauft oder entsorgt werden, wenn sie für das Spei-chern
            Ihrer
            sensiblen Daten verwendet wurden. Sie sollten daher von Anfang an alle Daten auf diesen Speichermedien
            verschlüsseln:
            Ohne Ihren Benutzerschlüssel sind sie – auch ohne Löschen – unlesbar.
        </li>
        <li>
            Optische Datenträger (CDs, DVDs) können nur „gelöscht“ werden, indem man sie physisch zerstört. Man kann sie
            also in
            möglichst kleine Teile zerbrechen oder die Beschichtung auf der Beschriftungsseite großflächig abkratzen.
            Meistens ist
            es aber einfacher, solche Medien zu sammeln und zum Shreddern an ein geeignetes Entsorgungsunternehmen zu
            übergeben.
            Beispiele für die korrekte Entsorgung finden Sie auf
            <a href="http://www.zendas.de/themen/vernichtung/beispiele_cddvd.html"
                target="_blank">http://www.zendas.de/themen/vernichtung/beispiele_cddvd.html</a> .
        </li>
        <li>
            Entsorgen Sie Papierdokumente mit sensiblen Informationen nicht mit dem Altpapier! Kleinere Mengen können
            Sie mit einem
            handelsüblichen Aktenvernichter (Shredder), größere Mengen über ein Entsorgungsunternehmen vernichten.
        </li>
        <li>
            Achten Sie darauf, dass bei Verlassen von Besprechungsräumen sämtliche sensiblen Informationen (z.B. auf
            Flipcharts)
            entfernt oder mitgenommen werden.
        </li>
        <li>
            Stellen Sie sicher, dass Sie nach dem Kopieren sämtliche Dokumente vom Kopiergerät entfernt haben und
            entsorgen Sie
            unbenötigte Dokumente mit vertraulichem Inhalt auf sichere Art.
        </li>
    </ul>
</div>
<hr>
<h2>1.4 Sicherer Umgang mit mobilen IT-Geräten</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=12"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 12:
    </a>
</div>

<p>Der Einsatz mobiler IT-Geräte (Notebooks, Smartphones, Tablet-PCs) birgt erhebliche Gefahren für das Unternehmen:
    Vertrauliche Unternehmensdaten werden außerhalb des Unternehmens gespeichert und verwendet. Portable Geräte sind für
    Diebe eine attraktive, leicht zu verkaufende Beute.
</p>

<div class="kapitel-hinweise">
    <h3>Wenn Sie mobile IT-Geräte benutzen, sollten Sie Folgendes beachten:</h3>
    <ul>
        <li>
            Sorgen Sie für eine diebstahlsichere Aufbewahrung Ihres Gerätes. Bewahren Sie es grundsätzlich nicht im
            Fahrzeug auf.
            Ist dies nicht zu vermeiden, decken Sie das Gerät ab oder schließen Sie es im Kofferraum ein.
        </li>
        <li>
            Lassen Sie das Gerät nicht unbeaufsichtigt und überlassen Sie es nicht anderen Personen! Sperren Sie es bei
            kurzen
            Arbeitspausen oder schalten Sie es ab. Stellen Sie es so ein, dass es nur nach Überwinden einer
            Zugriffschutzfunktion
            (Passwort, PIN, Fingerprint, ...) bedient werden kann.
        </li>
        <li>
            Es gibt verschiedene Programme und Dienste, die es erlauben, alle Daten auf einem gestohlenen oder
            verlorenen Smartphone
            aus der Distanz zu löschen. Setzen Sie diese Apps unbedingt ein! Auch der Einsatz von Virenschutzprogrammen
            für
            Smartphones und Tablets ist dringend anzuraten.
        </li>
        <li>
            Falls Sie Ihr eigenes Smartphone oder Tablet für berufliche Zwecke einsetzen wollen: Klären Sie zuvor mit
            Ihren
            IT-Zuständigen und Vorgesetzten ab, ob diese Verwendung in Ihrem Unternehmen zugelassen ist. Stellen Sie
            gemeinsam
            sicher, dass alle notwendigen Sicherheitsmaßnahmen umgesetzt wurden!
        </li>
        <li>
            Falls Ihr Unternehmen eine Mobile Device Management-Lösung einsetzt: Verwenden Sie für berufliche Zwecke
            ausschließlich
            die dafür vorgesehenen Anwendungen und verarbeiten Sie keine dienstlichen Daten im privaten, ungeschützten
            Bereich!
        </li>
        <li>
            Vermeiden Sie kostenlose, öffentlich zugängliche WLAN-Netzwerke, wenn Sie Mobilgeräte für berufliche Zwecke
            einsetzen:
            Ihre unverschlüsselte Kommunikation über das Netzwerk kann problemlos abgehört werden. Im schlimmsten Fall
            können auch
            Daten auf Ihrem Gerät ausgelesen werden.
        </li>
        <li>
            Sorgen Sie für Sichtschutz, wenn Sie das Gerät in der Öffentlichkeit verwenden (z.B. am Flughafen) – das
            verhindert das
            Ausspähen von Unternehmensinformationen.
        </li>
        <li>
            Verschlüsseln Sie die Festplatteninhalte bzw. wichtige Dateien und verhindern Sie damit unbefugten Zugriff
            auf
            Firmendaten. Aktivieren Sie auch auf Ihrem Smartphone oder Tablet die Dateiverschlüsselung oder setzen Sie
            eine
            Verschlüsselungs-App zum Speichern sensibler Daten ein!
        </li>
        <li>
            Verwenden Sie Ihren privaten Cloud-Speicherdienst (Dropbox, iCloud, Google Drive) nicht für
            Unternehmensdaten! Fragen
            Sie bei Ihren IT-Zuständigen nach, welche Möglichkeiten bestehen, um Firmendokumente über das Internet
            sicher
            abzuspeichern.
        </li>
        <li>
            Deaktivieren Sie alle nicht gerade benötigten Geräteschnittstellen (USB, WLAN, Infrarot, Bluetooth). Wenn
            diese
            Schnittstellen (z.B. WLAN für Internetverbindung) unbedingt notwendig sind, müssen entsprechende
            Schutzmaßnahmen
            (Personal Firewall, aktuelles Virenschutzprogramm usw.) vorgesehen werden.
        </li>
        <li>
            Schalten Sie den GPS-Empfänger auf Ihrem Smartphone immer ab, wenn er nicht gebraucht wird.
        </li>
        <li>
            Auf Smartphones oder Tablets, die Sie für berufliche Zwecke verwenden, dürfen Sie nie interne
            Sicherheitsmechanismen
            außer Kraft setzen (z.B. „Jailbreaks“ oder “Rooten“)! Durch diese Manipulationen entstehen zusätzliche
            Gefahrenquellen
            für die gespeicherten Unternehmensdaten.
        </li>
        <li>
            Installieren Sie nur Apps, die Ihnen als vertrauenswürdig und sicher bekannt sind! Fragen Sie im
            Zweifelsfall Ihre
            IT-Zuständigen oder recherchieren Sie im Internet, ob dazu Gefahren bekannt sind.
        </li>
        <li>
            Viele Apps verlangen bei der Installation Zugriff auf verschiedenste Gerätefunktionen (WLAN,
            GPS-Empfänger...).
            Überlegen Sie selbst, ob es nötig ist, dass z.B. eine Spiele-App Zugriff auf Ihr Mikrophon oder Ihr
            Adressbuch erhält.
            Installieren Sie nur Apps, deren Zugriffsanforderungen Sie für vertrauenswürdig halten!
        </li>
        <li>
            Lassen Sie Ihr Smartphone bei vertraulichen Besprechungen an Ihrem Arbeitsplatz oder schalten Sie es in den
            Flugmodus!
        </li>
        <li>
            Bevor Sie ein Smartphone verkaufen, weitergeben oder entsorgen, müssen Sie sicherstellen, dass alle
            gespeicherten Daten
            gelöscht wurden. Am besten eignet sich dazu ein „Factory Reset“. Danach müssen Sie überprüfen, ob noch
            Einstellungen
            oder Daten erhalten geblieben sind.
        </li>
        <li>
            Melden Sie jeden Diebstahl oder Verlust sofort der IT-Abteilung! Möglicherweise müssen Fernzugänge zu Ihrem
            Unternehmen
            gesperrt oder Passwörter geändert werden, um unerlaubte Zugriffe zu unterbinden. Die rasche Meldung des
            Vorfalls kann
            helfen, weitere Sicherheitsverstöße zu verhindern.
        </li>
        <li>
            Wenn auf dem Mobilgerät personenbezogene Daten gespeichert waren, muss unverzüglich abgeklärt werden, ob Ihr
            Arbeitgeber die Datenschutzbehörde und die betroffenen Personen informieren muss. Ihre rechtzeitige Meldung
            kann dem
            Unternehmen daher unter Umständen hohe Geldstrafen ersparen.
        </li>
    </ul>
</div>

<hr>
<h2>1.5 Wechselmedien richtig verwenden</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=14"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 14:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/pexels-anete-lusina-4792751.jpg" alt="">
    <figcaption>
        Foto von
        <a href="https://www.pexels.com/de-de/@anete-lusina?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Anete
            Lusina</a>
        von <a
            href="https://www.pexels.com/de-de/foto/mann-halt-flash-laufwerk-mit-digitalen-informationen-4792751/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
    </figcaption>
</figure>
<p>
    Wechselmedien sind externe Datenträger wie z.B. USB-Sticks, externe Festplatten, Fotospeicherkarten, CDs oder DVDs.
    Ihr
    Einsatz stellt grundsätzlich ein Sicherheitsrisiko dar: Einerseits können bei Missbrauch sensible Daten wie z.B.
    Kundenkarteien gelesen werden, andererseits können Programme mit Schadfunktionen auf Firmenrechner bzw. in das
    Firmennetzwerk eingeschleust werden.
</p>
<div class="kapitel-hinweise">
    <h3>Wenn Wechselmedien in Ihrem Unternehmen verwendet werden, sollten Sie folgende Hinweise (zusätzlich zu
        allfälligen
        Regelungen Ihres Unternehmens) beachten:</h3>
    <ul>
        <li>Lassen Sie Wechseldatenträger wie z.B. USB-Sticks nie unbeaufsichtigt liegen!</li>
        <li>
            Setzen Sie unbedingt Verschlüsselungs- oder Sperrfunktionen ein! Häufig liegt dem USB-Stick eine
            Verschlüsselungssoftware bei, die gespeicherte Daten mittels Passwort schützt. Auch alle modernen
            Betriebssysteme bieten
            Möglichkeiten zur Datenträgerverschlüsselung an.
        </li>
        <li>
            Einige Verschlüsselungsprogramme bieten die Möglichkeit, den Inhalt des USB-Sticks nach mehrmaliger falscher
            Passworteingabe automatisch zu löschen. Besonders bei sensiblen Inhalten sollten Sie diese Möglichkeit
            nützen.
        </li>
        <li>
            Booten Sie Ihren Rechner nicht von einem Wechseldatenträger! Auch das Starten nicht freigegebener Programme
            von
            USB-Sticks (z.B. portable Versionen von Browsern oder E-Mail-Clients) ist nicht erlaubt. Sie können damit
            Viren oder
            andere Schadsoftware in Ihren Computer einschleppen, die sich auf das gesamte Unternehmen ausbreiten.
        </li>
        <li>
            Auch für Wechseldatenträger gilt: Jeder Verlust muss sofort gemeldet werden!
        </li>
    </ul>
</div>
<p>
    Die Installation privater Software kann einzelne PCs oder das gesamte Firmennetz bedrohen! Besonders kostenlose
    Software
    aus dem Internet (z.B. Spiele, „nützliche“ Tools und Apps) enthält oft Schadprogramme. Zudem könnte das Urheberrecht
    verletzt werden, wenn diese Programme nicht für den kommerziellen Einsatz lizenziert oder illegal kopiert wurden.
</p>

<hr>
<h2>1.6 Social Engineering</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=15"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 15:
    </a>
</div>
<p>
    Social Engineering bezeichnet das Manipulieren von Personen, um unbefugt Zugang zu vertraulichen Informationen oder
    IT-Systemen zu erhalten. Typisches Werkzeug des Social Engineers ist das Telefon. Persönliches Auftreten wird wegen
    des
    höheren Risikos zumeist gescheut, kommt aber ebenfalls vor.
</p>

<h3>Strategien des Social Engineerings</h3>
<p>Social Engineers geben sich gerne als Mitarbeiterinnen oder Mitarbeiter aus. Vielleicht behaupten sie auch, eine
    Behörde oder ein wichtiges Kundenunternehmen zu vertreten oder zu Ihrer IT-Abteilung zu gehören. Ihre Opfer werden
    durch
    firmeninternes Wissen oder Kenntnisse spezieller Fachbegriffe getäuscht, die sie sich zuvor durch Telefonate oder
    Gespräche mit anderen Kollegen erworben haben. Beim Angriff appellieren sie dann als „gestresster Kollege“ an Ihre
    Hilfsbereitschaft oder drohen als „Kunde“ mit dem Verlust eines Auftrages. Kommt ein Social Engineer bei einer
    Mitarbeiterin oder einem Mitarbeiter nicht ans Ziel, wird der Angriff bei der nächsten Ansprechperson wiederholt –
    bis er erfolgreich ist.
</p>

<h3>Häufig verlaufen diese angriffe mehrstufig:</h3>
<ul>
    <li>Durch gezielte Telefonate werden Insiderinformationen eingeholt, die an sich harmlos sind, deren Kenntnis dem
        Social
        Engineer aber hilft, seine Rolle überzeugend zu spielen.</li>
    <li>
        Oft wird über längere Zeit ein Vertrauensverhältnis aufgebaut, indem die Angreiferin oder der Angreifer z.B.
        mehrere
        Telefonate mit ihrem oder seinem Opfer führt und unproblematische Anfragen stellt.
    </li>
    <li>
        Der eigentliche Angriff erfolgt nach diesen Recherchen: Wenn die Opfer den „Kollegen“ oder „Kunden“ gut zu
        kennen
        glauben, geht der Social Engineer zu seinem eigentlichen Ziel über – und bittet um den entscheidenden
        „Gefallen“.
    </li>
</ul>
<p>
    Oft wird ein solcher Angriff nicht einmal bemerkt. Der Social Engineer bleibt unerkannt und kann die anfälligen
    Mitarbeiterinnen und Mitarbeiter bei anderer Gelegenheit wieder nach vertraulichen Informationen aushorchen.
</p>
<h3>Wer besonders Gefährdet ist:</h3>
<p>
    Social Engineering-Attacken können sich gegen jede Person im Unternehmen richten. Am stärksten gefährdet sind:
</p>
<ul>
    <li>neue Mitarbeiterinnen und Mitarbeiter, die mit den Verhältnissen noch nicht vertraut sind</li>
    <li>Personen im Kundenverkehr, da sie besonders kundenorientiert arbeiten. Hier finden sich außerdem häufig mehrere
        Ansprechpersonen mit gleichen Zugriffsrechten, sodass der Social Engineer einen fehlgeschlagenen Angriff bei
        einem
        anderen Opfer wiederholen kann.</li>
</ul>

<div class="kapitel-hinweise">
    <h3>Maßnahmen gegen Social Engineering:</h3>
    <p>Angriffe dieser Art können nie völlig unterbunden werden. Bitte beachten Sie aber folgende Vorsichtsmaßnahmen:
    </p>
    <ul>
        <li>
            Informieren Sie sich über den Wert und Vertraulichkeitsgrad der Informationen, zu denen Sie Zugang haben!
        </li>
        <li>
            Häufig ist Unternehmensangehörigen infolge des dauernden Umgangs mit sensiblen Informationen nicht mehr
            bewusst, dass
            diese geheim sind. Auch fehlen oft klare Regelungen der Geschäftsführung. In jedem Unternehmen sollte – am
            besten in
            schriftlicher Form – festgelegt sein, welche Informationen vertraulich zu behandeln sind und welche
            weitergegeben
            werden dürfen. Sollte dies in Ihrem Unternehmen nicht der Fall sein, regen Sie eine solche Festlegung an
            oder klären Sie
            diesen Bereich zumindest mit Ihren Vorgesetzten.
        </li>
        <li>
            Bestehen Sie bei Anfragen zu vertraulichen oder geheimen Informationen auf schriftliche Form oder
            persönliche
            Vorsprache!
        </li>
        <li>
            Geben Sie über anonyme Kanäle (Telefon, E-Mail, Postfächer) grundsätzlich keine vertraulichen Informationen
            weiter!
        </li>
    </ul>
</div>

<p>
    Vertrauliche Informationen in diesem Sinn sind nicht nur Passwörter, Kontodaten oder ähnliche sensiblen Daten,
    sondern
    auch Firmeninterna wie z.B. Abläufe oder Fachwörter, die bei einem Angriff dieser Art helfen könnten.
</p>

<div class="kapitel-hinweise">
    <ul>
        <li>
            Legen Sie im Vorhinein Methoden fest, wie die Identität von Anfragestellern sicher festgestellt werden kann:
            Reicht
            z.B. die Kundennummer oder ist ein zusätzliches Passwort nötig? So lässt sich Zeitdruck vermeiden, der gern
            als
            Hilfsmittel bei Social Engineering-Angriffen eingesetzt wird.
        </li>
        <li>
            Gibt eine Person vor, Mitarbeiterin oder Mitarbeiter eines bestimmten Unternehmens zu sein, sollten Sie bei
            diesem
            Unternehmen anfragen, ob die betreffende Person überhaupt existiert. Dazu muss aber die Telefonnummer aus
            öffentlichen
            Quellen (z.B. amtliches Telefonbuch) abgefragt werden – verwenden Sie nicht jene Telefonnummer, die die
            Person
            angegeben hat.
        </li>
        <li>
            Wenn Sie sich bei einer Anfrage nicht sicher sind oder wenn die oder der Anfragende versucht, Sie unter
            Druck zu setzen,
            leiten Sie die Anfrage an Ihre Vorgesetzten weiter! Einschüchterungsversuche dieser Art gehören zum
            Standardrepertoire
            des Social Engineering.
        </li>
        <li>
            Wenn Sie im Anschluss an ein Gespräch „ein unangenehmes Gefühl“ haben oder unsicher sein, ob Sie nicht „zu
            viel gesagt“
            haben, behalten Sie Ihre Sorgen nicht für sich, sondern sprechen Sie mit Ihren Vorgesetzten darüber!
            Möglicherweise
            müssen Abwehrmaßnahmen getroffen oder die betroffenen Personen informiert werden. In jedem Fall müssen Sie
            informiert
            werden, wie Sie bei derartigen Fällen vorgehen sollen.
        </li>
    </ul>
</div>
<p>
    Besprechen Sie mit Ihren Kolleginnen und Kollegen auffällige oder unzulässige Anfragen und dokumentieren Sie
    diese
    Anfragen. So weiß man, ob die Anruferin oder der Anrufer es schon bei anderen versucht hat. In solchen
    Gesprächen können
    auch neue Abwehrmethoden gefunden und ein Gefühl für den Wert der Firmeninformationen entwickelt werden.
</p>