<h1>3. Sicher unterwegs im Internet</h1>
<p class="kapitel-description">Ebenso wie im realen Leben ist man auch im Internet mit Kriminellen und Betrügern
    konfrontiert. Es liegt in Ihrer
    eigenen Verantwortung, solche Bedrohungen zu erkennen und entsprechend darauf zu reagieren.</p>
<hr>

<h2 class="text-normal">3.1 Vorsichtsmaßnahmen</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=20"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 20:
    </a>
</div>
<div class="kapitel-hinweise">
    <h3>Einige einfache Verhaltensregeln reichen aus, um typische Gefahren zu minimieren:</h3>
    <ul>
        <li>
            Gebrauchen Sie Ihren gesunden Menschenverstand: Websites, die von bekannten und angesehenen Anbietern ins
            Netz gestellt
            werden, ist eher zu vertrauen als unbekannten Seiten.
        </li>
        <li>
            Websites, die mit dem Download kostenloser Zusatzsoftware oder unseriösen Gewinnspielen locken, ist
            grundsätzlich zu
            misstrauen. Natürlich gibt es auch seriöse Anbieter von kostenlosen Free- und Shareware-Programmen im
            Internet. Sollten
            Sie sich aber nicht sicher sein, fragen Sie bei Ihren Vorgesetzten oder EDV-Verantwortlichen nach.
        </li>
        <li>
            Vor dem Download von Zusatzprogrammen – auch bei scheinbar ungefährlichen Dingen wie Bildschirmschonern,
            Klingeltönen
            oder Mauszeigern – ist grundsätzlich die Zustimmung Ihrer Vorgesetzten oder EDV-Verantwortlichen einzuholen.
        </li>
        <li>
            Das Herunterladen von Dateien kann – abgesehen von der Gefahr des Einschleppens von Schadsoftware – auch zu
            lizenz- und
            urheberrechtlichen Problemen führen. Das gilt auch für Software, die nicht installiert oder ausgeführt wurde
            und nur auf
            dem Bürorechner gespeichert ist. Holen Sie daher vorher die Zustimmung Ihrer Vorgesetzten oder
            EDV-Verantwortlichen ein.
        </li>
        <li>
            Meiden Sie Hackerseiten und solche, auf denen kommerzielle Software, möglicherweise in gecrackter Form, zum
            Download
            angeboten wird (sogenannte „Warez“-Seiten). Die Wahrscheinlichkeit, dadurch Schadsoftware auf den Computer
            zu laden, ist
            naturgemäß deutlich höher als beim Aufsuchen der Website einer Bank oder eines bekannten Unternehmens.
            „Verdächtige“
            Seiten sollten Sie am besten gar nicht aufrufen.
        </li>
        <li>
            Rufen Sie keine Websites mit pornografischen, gewaltverherrlichenden oder strafrechtlich bedenklichen
            Inhalten auf. Das
            kann gravierende rechtliche Probleme – auch für Ihr Unternehmen – nach sich ziehen.
        </li>
    </ul>
</div>
<figure>
    <img src="../../../../assets/stock_photos/pexels-tracy-le-blanc-607812.jpg" alt="">
    <figcaption>
        Foto von <a
            href="https://www.pexels.com/de-de/@tracy-le-blanc-67789?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Tracy
            Le Blanc</a>
        von <a
            href="https://www.pexels.com/de-de/foto/person-mit-iphone-die-den-ordner-fur-soziale-netzwerke-anzeigt-607812/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
    </figcaption>
</figure>
<h3>Bei der nutzung von Sozialen Netzwerken sind besondere Vorsichtsmaßnahmen zu berücksichtigen:</h3>
<p>
    Soziale Netzwerke, wie Facebook, Xing oder Twitter, erfreuen sich großer Beliebtheit. Viele Plattformen bieten
    Netzwerke für spezifische Themenbereiche an. Leider nützen aber auch Kriminelle diese Plattformen für ihre Zwecke.
    Daher
    sind mit der Benutzung sozialer Netzwerke auch Risiken verbunden. Neben dem Diebstahl persönlicher Daten und dem
    Verbreiten von Spam oder Schadsoftware sammeln immer mehr Angreifer Informationen, die Nutzerinnen und Nutzer der
    Plattformen über sich und ihr Umfeld preisgeben. Diese Informationen erlauben es, gezielte Angriffe auf Unternehmen
    durchzuführen, indem etwa personalisierte Phishing-Mails an Geschäftsführung, Vertrieb oder Buchhaltung verschickt
    werden oder maßgeschneiderte Schadsoftware Firmengeheimnisse ausspioniert oder zerstört.
    <br><br>Bedenken Sie die möglichen
    arbeitsrechtlichen Konsequenzen: Wenn Sie vertrauliche Informationen des Unternehmens preisgeben oder das
    Unternehmen
    durch Ihre Aussagen in Verruf bringen, kann dies als Verletzung Ihrer Treuepflicht gedeutet. Wenn Sie das
    Sicherheitsrisiko bei der Nutzung sozialer Netzwerke minimieren wollen, sollten Sie einige grundlegende
    Sicherheitshinweise beachten:
</p>
<div class="kapitel-hinweise">
    <ul>
        <li>
            Informieren Sie sich, ob in Ihrem Unternehmen die Nutzung sozialer Netzwerke während der Arbeitszeit
            gestattet ist.
        </li>
        <li>
            Das Netz vergisst nie! Denken Sie immer daran, dass Informationen, die Sie auf sozialen Netzwerken
            preisgeben,
            öffentlich sind und oft nur schwer wieder gelöscht werden können.
        </li>

        <li>
            Vermeiden Sie es, vertrauliche Informationen über Ihr Unternehmen, Ihre berufliche Rolle oder Ihre
            geschäftliche
            Tätigkeit zu veröffentlichen. Alle diese Daten können bei Angriffen genutzt werden, um
            Sicherheitsvorkehrungen zu
            umgehen.
        </li>
        <li>
            Unterscheiden Sie zwischen Ihrem geschäftlichen und Ihrem privaten Ich und verwenden Sie unterschiedliche
            Plattformen
            oder Profile. Private Daten haben auf Geschäftsprofilen nichts verloren und umgekehrt. Damit erschweren Sie
            den
            Missbrauch Ihrer Daten für Angriffe und schützen zudem noch Ihre Privatsphäre.
        </li>
        <li>
            Prüfen Sie unbedingt die Identität der anfragenden Person, bevor Sie diese zu Ihrem Netzwerk hinzufügen.
        </li>
        <li>
            Nutzen Sie die Sicherheits- und Datenschutzoptionen, die vom Plattformanbieter zur Verfügung gestellt werden
            und
            schränken Sie den Zugang zu Ihrem Profil ein. Kontrollieren Sie regelmäßig, ob der Betreiber Veränderungen
            vorgenommen
            hat, die unerwünschte Zugriffe ermöglichen.
        </li>
        <li>
            Vorsicht bei externen Links: Bedenken Sie, dass soziale Netzwerke oft genutzt werden, um Schadsoftware zu
            verbreiten.
        </li>
        <li>
            Verwenden Sie auch in sozialen Netzwerken ein sicheres Passwort!
        </li>
    </ul>
</div>
<hr>
<h2 class="text-normal">3.2 Verschlüsselte Datenübertragung</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=22"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 22:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/pexels-dan-nelson-4489171.jpg" alt="">
    <figcaption>
        Foto von
        <a
            href="https://www.pexels.com/de-de/@dan-nelson-1667453?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Dan Nelson</a>
        von <a
            href="https://www.pexels.com/de-de/foto/apple-iphone-laptop-internet-4489171/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
    </figcaption>
</figure>

<p>
    Die Datenübertragung zwischen Servern im Internet und Ihrem PC erfolgt im Normalfall unverschlüsselt. Daher können
    übertragene Daten von Personen mit entsprechenden Zugangsmöglichkeiten problemlos abgehört oder manipuliert werden.
    Um
    dies bei der Übertragung sensibler Daten zu verhindern, wurde das Protokoll HTTPS mit dem Verschlüsselungsprotokoll
    TLS/SSL entwickelt. Dadurch sind folgende Sicherheitsmerkmale gewährleistet:
</p>
<ul>
    <li>
        Die übertragenen Daten werden verschlüsselt und sind für Außenstehende nicht lesbar.
    </li>
    <li>
        Die Identität des Webservers, der die Daten verarbeitet, wird anhand eines digitalen Zertifikats geprüft.
    </li>
    <li>
        Die übertragenen Daten werden durch verschiedene Rechenverfahren geprüft und vor Manipulationen geschützt.
    </li>
</ul>
<h3>Sicherheit durch digitale Zertifikate</h3>
<p>
    Das wichtigste Element einer HTTPS-Verbindung ist das digitale Zertifikat des Website-Betreibers. Dieses Zertifikat
    wird vom Internet-Browser verwendet, um die Identität des Website-Betreibers festzustellen. Dadurch kann verhindert
    werden, dass eine gesicherte Verbindung zu einem Anbieter aufgebaut wird, der sich als jemand anderer ausgibt (z.B.
    einem Betrüger, der die Website einer Bank nachbaut, um Kunden ihre Passwörter zu entlocken).
</p>



<h3>Folgende Vorsichtsmaßnahmen sollten bei HTTPS-Verbindungen beachtet werden:</h3>
<p>
    Besondere Vorsicht ist geboten, wenn der Internet-Browser auf Schwierigkeiten mit dem Zertifikat hinweist. Er zeigt
    damit an, dass er den Aussteller des Zertifikats nicht kennt, dass das Zertifikat abgelaufen oder unsicher ist, oder
    dass der Name im Zertifikat nicht zur Website passt. Oft sind diese Meldungen nicht leicht zu interpretieren.
    Deswegen
    sollten Sie entweder Ihre IT-Verantwortlichen oder besser noch kompetente Mitarbeiterinnen oder Mitarbeiter des
    Unternehmens, dessen Website Sie besuchen wollen, um Rat fragen.
</p>
<div class="inhalte-exkurs-box">
    <h3>Exkurs: Wie kann ich feststellen, ob meine Verbindung zu einer Website verschlüsselt erfolgt?</h3>
    <div class="kapitel-reference">
        <span>Referenz:</span>
        <a href="https://support.mozilla.org/de/kb/wie-kann-ich-feststellen-ob-meine-verbindung-zu-einer-website-verschluesselt-erfolgt"
            target="_blank">
            https://support.mozilla.org/de/kb/wie-kann-ich-feststellen-ob-meine-verbindung-zu-einer-website-verschluesselt-erfolgt
        </a>
    </div>
    <p>
        Beim Besuch einer Webseite wird in der Adressleiste links neben der Webadresse (URL) die Schaltfläche zur
        Identität
        einer Website (ein Sperrschloss) angezeigt. Damit können Sie schnell feststellen, ob die Verbindung zur gerade
        angezeigten Website verschlüsselt ist und in einigen Fällen sehen Sie auch, wem die Website gehört. Das soll
        Ihnen dabei
        helfen, bösartige Seiten zu erkennen und zu vermeiden, dass diese an Ihre persönlichen Daten gelangen.
    </p>
    <hr>
    <h4>Graues Sperrschloss</h4>
    <img [src]="appDao.getImageUrl('/images/kapitel/3/themen/2/grey_lock.jpg')" height="100px" alt=" ">
    <p>
        Ein graues Sperrschloss bedeutet:
    </p>
    <ul>
        <li>
            Sie sind mit Sicherheit mit jener Webseite verbunden, deren Webadresse (URL) in der Adressleiste angezeigt
            wird, und die
            Verbindung wurde nicht abgefangen.
        </li>
        <li>
            Die Verbindung zwischen Firefox und der Webseite ist verschlüsselt, um Lauschangriffe zu verhindern.
        </li>
    </ul>
    <p>
        Bei Webseiten, die ein EV-Zertifikat besitzen, zeigt ein Klick auf das graue Sperrschloss auch den Namen des
        Unternehmens oder der Organisation sowie den Standort des Website-Eigentümers an.
    </p>
    <hr>
    <h4>Graues Sperrschloss mit gelbem Warndreieck</h4>
    <img [src]="appDao.getImageUrl('/images/kapitel/3/themen/2/grey_lock_warn.jpg')" height="100px" alt=" ">
    <p>
        Ein graues Sperrschloss mit gelbem Warndreieck bedeutet, dass die Verbindung zwischen Firefox [dem Webbrowser] und der Website
        nur
        teilweise verschlüsselt wird und nicht abhörsicher ist. Standardmäßig blockiert Firefox [oder andere Webbrowser] keine gemischten Inhalte
        (z. B.
        Grafiken), Sie sehen nur die Warnung, dass die Seite nicht vollständig sicher ist.
        <br><br>
        Ein graues Sperrschloss mit einem gelben Warndreieck wird auch bei Webseiten mit Zertifikatswarnungen angezeigt,
        z. B.
        bei Webseiten, deren Zertifikat selbst signiert oder nicht von einer vertrauenswürdigen Zertifizierungsstelle
        verifiziert wurde. Dieses Problem muss vom Entwickler der Website behoben werden.
    </p>
    <hr>
    <h4>Rot durchgestrichenes graues Sperrschloss</h4>
    <img [src]="appDao.getImageUrl('/images/kapitel/3/themen/2/open_lock.jpg')" height="100px" alt=" ">
    <p>
        Ein rot durchgestrichenes Sperrschloss bedeutet, dass die Verbindung zwischen Firefox und der Website entweder
        unter
        Verwendung eines unsicheren Protokolls (HTTP oder FTP) erfolgt oder dass sie nur teilweise verschlüsselt ist, da
        Sie
        manuell die Blockierung gemischter Inhalte aufgehoben haben. Die Verbindung ist nicht abhörsicher und verhindert
        keine
        Man-in-the-Middle-Angriffe.
    </p>
</div>


<p>
    Kontrollieren Sie die Internet-Adresse genau, um kriminellen Methoden vorzubeugen. Es gab bereits Betrugsfälle, in
    denen die Opfer auf ähnlich aussehende URLs gelockt wurden (http://eban-king.bawog.com anstelle von
    https://ebanking.bawag.com, http://www.paipal.com statt https://www.paypal.com). Durch die Kontrolle der Adresszeile
    im
    Browser können Sie diesen Betrug erkennen.
</p>
<hr>
<h2 class="text-normal">3.3 Tracking Cookies</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=24"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 24:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/pexels-arminas-raudys-808941.jpg" alt="">
    <figcaption>
        Foto von
        <a
            href="https://www.pexels.com/de-de/@raudys?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Arminas Raudys</a>
        von <a
            href="https://www.pexels.com/de-de/foto/vier-makronen-808941/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
    </figcaption>
</figure>

<p>
    Cookies sind sehr kleine Dateien, die beim Besuch einer Website auf Ihrem Computer gespeichert werden. Wenn Sie
    diese
    Website wieder aufrufen, darf sie ihre eigenen Cookies lesen. Auf diese Weise lassen sich bestimmte Einstellungen
    speichern, zum Beispiel Ihre Identität nach einer Web-Anmeldung oder Ihr Warenkorb in einem Online-Shop.
    <br><br>
    Sehr viele Websites setzen aber auch sogenannte „Tracking Cookies“ ein, die von großen Werbeanbietern wie Google
    oder
    Facebook erstellt und ausgewertet werden. Damit lassen sich Internetzugriffe über mehrere Websites hinweg verfolgen.
    Die Werbeanbieter können damit Bewegungsprofile einzelner User im Internet erstellen und für gezielte Werbung
    verwenden. Wenn Sie ein Google Plus- oder Facebook-Konto besitzen, können sie sogar Ihre Identität bestimmen und
    diesen
    „Bewegungsprofilen“ zuordnen.
    <br><br>
    Das ist völlig legal – sofern Sie diesen Cookies zustimmen. Viele Websites bieten Ihnen aber gar nicht die
    Möglichkeit,
    sich zu entscheiden. In solchen Fällen bleibt Ihnen nur, bestimmte Einstellungen in Ihrem Browser zu setzen, die das
    „Tracking“ unterbinden:
</p>
<div class="kapitel-hinweise">
    <ul>
        <li>
            Die meisten Browser bieten die Möglichkeit, die besuchten Websites dazu aufzufordern, Ihre Aktivitäten nicht
            zu
            verfolgen. Diese Einstellung wird auch als „Do Not Track“ bezeichnet. Viele Websites halten sich allerdings
            nicht an
            diese Auflage.
        </li>
        <li>
            Eine weitere Möglichkeit besteht darin, Cookies regelmäßig zu löschen, z.B. nach jeder Internetsitzung. Das
            kann recht
            aufwändig werden; in manchen Browsern lässt es sich aber automatisieren.
        </li>
        <li>
            Einige Browser erlauben es, gezielt Cookies von Drittanbietern (das sind fast immer Tracking Cookies) zu
            blockieren. Die
            Cookies der besuchten Website sowie Session Cookies bleiben erlaubt, sodass die Funktion der Website dadurch
            nicht
            beeinträchtigt wird.
        </li>
        <li>
            Guten Schutz gegen Tracking bieten spezielle kostenlose Zusatzprogramme (Add-ons) wie z.B. Ghostery oder
            uBlock. Diese
            analysieren den Internetverkehr und blockieren anhand spezieller Listen alle unerwünschten Cookies.
        </li>
    </ul>
</div>
<p>
    Es ist natürlich einfacher, Tracking einfach zuzulassen. Die Entscheidung darüber sollte aber Ihnen vorbehalten
    bleiben.
    Die oben angeführten Einstellungen bieten zusammengenommen eine gute Möglichkeit, die Nachverfolgung Ihrer
    Internet-Aktivitäten zu unterbinden.
</p>

<hr>
<h2>Begriffe:</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=38"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 38:
    </a>
</div>
<br>
<h3>Cookies:</h3>
<p>
    Cookies werden eingesetzt, um Informationen zu früher aufgerufenen Websites in kleinen Dateien auf dem Computer zu
    speichern. Sie ermöglichen beispielsweise, persönliche Einstellungen aus früheren Sitzungen wiederherzustellen oder
    Informationen aus Online-Shops ohne explizite Benutzeranmeldung zu speichern. Im Allgemeinen sind Cookies ungefährlich,
    allerdings können sie dazu verwendet werden, das individuelle Surfverhalten auszuforschen und so für zielgruppengerechte
    Werbung genutzt werden.
</p>
<h3>Digitale Zertifikate:</h3>
<p>
    Digitale Zertifikate bilden die Grundlage für die Authentifizierung von Webservern beim Einsatz von HTTPS. Sie werden
    außerdem auch zur Verschlüsselung und zum Signieren von E-Mails genützt. Zertifikate werden von einer
    Zertifizierungsstelle herausgegeben und weisen die Identität des Zertifikatsinhabers aus. Diese Zertifizierungsstellen
    können wieder durch andere Stellen zertifiziert sein; insgesamt bildet sich so eine Zertifizierungskette oder
    Zertifikatshierarchie, die bis zu einer obersten Stammzertifizierungsstelle reicht.
<h3>URL:</h3>
<p>
    URl ist die Abkürzung für Uniform Resource Locator, sie ist gewissermaßen die Adressangabe für einen Dienst in einem
    Computernetzwerk. Die URL für die Website von it-safe ist z.B. http://www.it-safe.at. Eine URL besteht aus der
    Zugriffsmethode auf diesen Dienst – im Web üblicherweise http oder https, für Datenübertragungen auch ftp – und dem Ort
    des Dienstes. An die URL kann noch, durch ein Fragezeichen getrennt, ein weiterer Textteil angeschlossen werden, um z.B.
    eine Anfrage an den verarbeitenden Server zu übertragen.
</p>
<h3>HTTP:</h3>
<p>
    HTTP ist die Abkürzung für HyperText Transfer Protocol, dem typischen Übertragungsprotokoll für Webseiten. Über HTTP
    werden Webseiten, d.h. Texte und Bilder von Servern im Internet an den jeweiligen Browser übertragen. Es können aber
    auch in Gegenrichtung Daten vom Browser an den Server gesendet werden, z.B. um eine Suchanfrage oder Daten in einem
    Webformular zur weiteren Verarbeitung an den Webserver zu schicken. HTTP ist ein relativ unsicheres Protokoll, das Daten
    unverschlüsselt überträgt und keinen Schutz vor dem Abfangen oder Umleiten von Daten bietet. Zur Übermittlung sensibler
    Daten ist es daher nicht geeignet.
</p>
<h3>HTTPS:</h3>
<p>
    HTTPS ist die Abkürzung für HyperText Transfer Protocol Secure, das durch die Verwendung des Verschlüsselungsprotokolls
    SSL/TLS ausreichende Sicherheit für die Übertragung sensibler Daten bietet. Mit Hilfe dieses Protokolls werden
    einerseits die übertragenen Daten verschlüsselt und abhörsicher gemacht, andererseits wird durch die Verwendung von
    digitalen Zertifikaten die Identität des Webservers gesichert. Angreifern sollte es daher – die richtige Handhabung
    vorausgesetzt – nicht möglich sein, sich z.B. als E-Banking-Server auszugeben, um Internet-Usern Passwörter, PINs oder
    TANs zu entlocken.
</p>
<h3>FTP</h3>
<p>
    FTP ist die Abkürzung für File Transfer Protocol, ein Verfahren zur Übertragung von Dateien zwischen
    Kommunikationspartnern. Die Datenübertragung ist in beide Richtungen möglich, mittels FTP-Client können Daten vom Server
    zum Client oder vom Client zum Server übertragen werden. Ähnlich wie bei HTTP werden dabei die Daten (auch Passwörter)
    unverschlüsselt übertragen. In Zusammenhang mit dem Internet wird FTP vor allem dazu verwendet,
    Softwareinstallationsdateien von FTP-Servern auf Clients zu übertragen oder neue Webseiteninhalte auf Servern
    einzuspielen.
</p>