<h1>5. Gefährliche Schadprogramme</h1>
<p class="kapitel-description">Schadprogramme wie z.B. Computer-Viren enthalten verdeckte Funktionen, die durch Löschen, Überschreiben oder sonstige
Veränderungen Schäden an Betriebssystemen, Anwendungsprogrammen und Daten erzeugen. Sie verursachen damit zusätzliche
Arbeit und Kosten und haben einen negativen Einfluss auf die Vertraulichkeit, Integrität und Verfügbarkeit von Daten
oder Programmen.</p>
<hr>
<h2 class="text-normal">5.1 Wie können Sie erkennen, dass Ihr PC infiziert ist?</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=30"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 30:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/pexels-pixabay-207580.jpg" alt="">
    <figcaption>
        Foto von
        <a
            href="https://www.pexels.com/de-de/@pixabay?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pixabay
        </a>
        von <a
            href="https://www.pexels.com/de-de/foto/computercodes-207580/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
    </figcaption>
</figure>
<div class="kapitel-hinweise">
    <h3>Typische anzeichen einer Infektion sind:</h3>
    <ul>
        <li>
            Sie können auf bestimmte Laufwerke oder Datenträger nicht mehr zugreifen und Dateien nicht mehr bearbeiten.
        </li>
        <li>
            Der Rechner
            arbeitet mit deutlich reduzierter Leistung (Systemauslastung zumeist auf 100 %), reagiert nicht oder startet in
            regelmäßigen Abständen neu. Auch der Zugriff auf Dateien dauert länger.
        </li>
        <li>
            Der Rechner startet nicht mehr oder benötigt
            für das Hochfahren deutlich länger.
        </li>
        <li>
            Auf dem Bildschirm werden plötzlich unbekannte Meldungen oder Dialogfenster
            angezeigt.
        </li>
        <li>
            Sie erhalten eine E-Mail-Nachricht mit Anhang. Beim Öffnen des Anhangs öffnen und schließen sich
            verschiedene Dialogfenster und die Systemleistung nimmt sofort deutlich ab.
        </li>
        <li>
            Im Internet-Browser sind plötzlich
            zusätzliche Icons und Symbolleisten sichtbar. Als Startseite erscheint eine Homepage, die Sie nicht eingestellt haben.
        </li>
        <li>
            Es werden Warnungen angezeigt, dass bestimmte Programme eine Verbindung mit dem Internet herzustellen versuchen, obwohl
            dies nicht von Ihnen veranlasst wurde.
        </li>
        <li>
            Antiviren- und Antispywareprogramme sind deaktiviert und können nicht neu
            gestartet werden.
        </li>
        <li>
            Ohne Ihr Zutun verschwindet ein Programm von Ihrem Computer.
        </li>
        <li>
            Verschiedene Dateien haben plötzlich
            geänderte Namen. Wenn Sie versuchen, sie zu öffnen, erfahren Sie, dass die Inhalte verschlüsselt wurden und nicht
            geöffnet werden können.
        </li>
        <li>
            Sie können nicht mehr auf bestimmte Dokumente zugreifen. Es erscheint ein Fenster, in dem Sie
            zur Eingabe eines Codes zum Entschlüsseln der Dokumente aufgefordert werden.
        </li>
        <li>
            Manche Viren greifen die zum Starten des
            Computers erforderlichen Dateien an. Nach dem Einschalten erscheint ein leerer Bildschirm.
        </li>
    </ul>
</div>
<p>
    Die angeführten Symptome können auch erst nach einer bestimmten Zeit auftreten. Sie können außerdem auch von Hardware-
    oder Softwarestörungen verursacht werden. Deswegen kann nur eine nähere Untersuchung des Rechners durch eine
    EDV-Fachkraft Aufschluss über die tatsächlichen Ursachen geben.
</p>
<hr>
<h2 class="text-normal">5.2 Ransomware und Verschlüsselungstrojaner</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=31"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 31:
    </a>
</div>
<p>
    Zu den größten Bedrohungen für Unternehmen im Bereich Internetkriminalität gehört mittlerweile die Ransomware. Die
    gefährlichsten Vertreter dieser Angriffsvariante sind Verschlüsselungstrojaner, die alle wichtigen Dateien am Computer
    unlesbar machen. Die Daten werden verschlüsselt; Das Passwort, um sie wieder entschlüsseln zu können, geben die
    Angreifer erst nach Überweisung eines „Lösegelds“ (engl.: ransom) heraus.
    <br><br>
    Auch nach Bezahlung ist aber keineswegs sicher, dass die Entschlüsselung funktioniert. Manchmal ist sie in der
    Schadsoftware gar nicht wirklich vorgesehen oder der Mechanismus zur Entschlüsselung funktioniert nicht. Im schlimmsten
    Fall sind sowohl die gespeicherten Daten als auch der überwiesene Betrag verloren.
    <br><br>
    Verschlüsselungstrojaner greifen verschiedene Arten von Dateien an, vor allem Office-Dokumente, Bilder, Video- und
    MP3-Dateien, manchmal auch E-Mails und Datenbanken. Es handelt sich dabei typischerweise um selbst erstellte und
    unwiederbringliche Dokumente, die für das Unternehmen sehr wichtig sein können. Im Extremfall kann ein solcher Angriff
    zum Verlust aller Daten führen!
</p>
<div class="kapitel-hinweise">
    <h3>Um sich gegen Ransomware zu schützen, müssen Sie grundsätzlich die gleichen Verhaltensregeln befolgen wie bei jeder
    anderen Schadsoftware:</h3>
    <ul>
        <li>
            Prüfen Sie jede E-Mail auf Plausibilität: Ist Ihnen der Absender bekannt und passt der Betreff zum Absender? Gibt es
            auffällige Rechtschreib- und Grammatikfehler? Haben Sie eine derartige E-Mail erwartet oder kommt sie Ihnen irgendwie
            verdächtig vor?
        </li>
        <li>
            Öffnen Sie keine verdächtigen Dateianhänge! Prüfen Sie zweifelhafte Dateien, indem Sie sie auf eine
            geeignete Internetseite (z.B. Virustotal.com) hochladen. Wenn Sie den Absender kennen, rufen Sie ihn an und fragen ihn,
            ob die Nachricht von ihm stammt und worum es sich handelt. Lassen Sie sich nicht von „bedrohlichen“ Inhalten (Rechnung,
            Mahnung etc.) dazu verleiten, eine Datei unbedacht zu öffnen!
        </li>
        <li>
            Klicken Sie nie unüberlegt auf Internet-Links in E-Mails!
            Übertragen Sie den Link mittels „Hyperlink kopieren“ in Ihren Browser und prüfen Sie, ob die URL zum Absender passt. Ein
            Link in einer E-Mail kann zu einer ganz anderen Adresse führen, als in der E-Mail angegeben ist; so etwas ist in jedem
            Fall als Alarmsignal zu werten.
        </li>
    </ul>
    <h3>Zusätzlich sollten Sie noch folgende Punkte beachten:</h3>
    <ul>
        <li>
            Sollte Ihr PC trotz aller Vorsicht mit Ransomware infiziert worden sein, schalten Sie ihn sofort aus – notfalls, indem
            Sie den Stecker ziehen! Je länger die Schadsoftware Gelegenheit hat, Dateien zu verschlüsseln, desto größer wird der
            Schaden. Vor der Wiederinbetriebnahme muss der PC daher auf jeden Fall von einer Expertin oder einem Experten geprüft
            und bereinigt werden.
        </li>
        <li>
            Der beste Schutz gegen Ransomware liegt in regelmäßigen und vollständigen Datensicherungen. Übertragen Sie daher alle
            wichtigen und unwiederbringlichen Daten regelmäßig auf die Serverlaufwerke Ihres Unternehmens oder andere
            Sicherungsmedien, die Ihnen zu diesem Zweck zur Verfügung gestellt wurden! Wichtige Dateien sollten Sie nie
            ausschließlich auf Ihrer lokalen Festplatte speichern.
        </li>
    </ul>
</div>
<hr>
<h2 class="text-normal">5.3 Maßnahmen richtig setzen</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=33"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 33:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/pexels-anna-shvets-3786126.jpg" alt="">
    <figcaption>
        Foto von
        <a
            href="https://www.pexels.com/de-de/@shvetsa?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Anna Shvets
        </a>
        von <a
            href="https://www.pexels.com/de-de/foto/gesichtsmaske-auf-blauem-hintergrund-3786126/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
    </figcaption>
</figure>

<div class="kapitel-hinweise">
    <h3>Technische Schutzmaßnahmen</h3>
    <p>
        Jeder Rechner mit Internet-Anschluss benötigt Schutz vor Schadsoftware, der regelmäßig aktualisiert werden muss und
        nicht deaktiviert werden darf:
    </p>
    <ul>
        <li>
            Ein Virenschutzprogramm ist unbedingt erforderlich. Die Signatur-Dateien dieser Software müssen täglich aktualisiert
            werden, da sonst neu entwickelte Computerviren Ihren Computer ungehindert befallen können.
        </li>
        <li>
            Alle Betriebssysteme und viele Anwendungsprogramme, insbesondere der Internet-Browser, weisen Sicherheitslücken auf, die
            erst im Lauf der Zeit entdeckt werden. Ihre Hersteller bieten kostenlose Programmaktualisierungen (Updates oder sog.
            Hotfixes) an, die diese Fehler ausbessern sollen. Diese Aktualisierungen müssen unbedingt und möglichst ohne zeitliche
            Verzögerung installiert werden.
        </li>
        <li>
            Eine Firewall ist eine Sicherheitsschnittstelle zwischen Ihrem PC und dem Internet und verhindert unerlaubte Zugriffe.
            Sofern in Ihrem Unternehmen kein zentrales Firewall-System betrieben wird, sollte eine Personal-Firewall auf jedem
            Arbeitsplatzrechner installiert werden. Diese Firewall darf auf keinen Fall deaktiviert werden.
        </li>
    </ul>
</div>

<p>
    Melden Sie Ihren EDV-Verantwortlichen unverzüglich, wenn Sie Warnhinweise erhalten, dass der Computer ungeschützt ist
    oder ein Sicherheitsproblem besteht. Vorsicht: Diese Hinweise könnten auch von Schadsoftware stammen. Maßnahmen sollten
    Sie daher erst nach Rücksprache mit der IT-Abteilung setzen.
</p>

<div class="kapitel-hinweise">
    <h3>Maßnahmen bei der Internet-Nutzung</h3>
    <p>
        Daten und Programme, die aus dem Internet abgerufen werden, bergen die Gefahr versteckter Schadsoftware in sich. Sie
        können Benutzerdaten ausspähen, weiterleiten, verändern oder auch löschen. Deswegen:
    </p>
    <ul>
        <li>
            Laden Sie Programme nur von vertrauenswürdigen Websites, wie z.B. von den Originalseiten des Software-Herstellers.
            Dateien, die von Dritten über anonyme Web-Dienste angeboten werden, sind ein Sicherheitsrisiko.
        </li>
        <li>
            Daten und Programme von
            Hackerseiten, Gewinnspielseiten oder anderen dubiosen Homepages sind unbedingt zu meiden. Die Virengefahr ist
            überdurchschnittlich hoch.
        </li>
        <li>
            Überprüfen Sie immer die Größe von Dateien nach einem Download (eventuell wird auch eine
            Prüfsumme angegeben). Gibt es Abweichungen, besteht die Gefahr unzulässiger Veränderungen – meist durch Viren
            verursacht. Solche Dateien sollten Sie sofort löschen.
        </li>
        <li>
            Heruntergeladene Programme müssen vor ihrer Installation immer
            mit einem aktuellen Virenschutzprogramm überprüft werden.
        </li>
        <li>
            Gepackte (komprimierte) Dateien sollten Sie zuerst entpacken
            und auf Viren überprüfen. Die Entpackungsprogramme sind so zu konfigurieren, dass die zu entpackende Datei nicht
            automatisch startet.
        </li>
        <li>
            Prüfen Sie bei der Installation neuer Software die Installationsoptionen genau: Viele Programme
            versuchen, zusätzliche, oft unerwünschte Software zu installieren. Sie können diese Zusatzprogramme bei der
            Installation abwählen, wenn Sie an der richtigen Stelle eingreifen.
        </li>

    </ul>
</div>
<hr>
<h2 class="text-normal">5.4 Viereninfektion: Was tun?</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=35"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 35:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/pexels-markus-spiske-3991793.jpg" alt="">
    <figcaption>
        Foto von
        <a
            href="https://www.pexels.com/de-de/@markusspiske?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Markus Spiske
        </a>
        von <a
            href="https://www.pexels.com/de-de/foto/keine-panik-text-auf-toilettenpapier-3991795/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
    </figcaption>
</figure>
<p>
    Meist ist die Gefahr schon beseitigt, wenn der Computer Sie auf einen Virus oder ein anderes Schadprogramm aufmerksam
    macht. In diesem Fall ist der Virus bereits gelöscht oder isoliert bzw. unter Quarantäne gestellt. Dennoch sollten Sie
    Ihre EDV-Verantwortlichen oder Vorgesetzten darüber informieren.
    <br><br>
    Wenn allerdings Ihr System das Problem nicht beseitigen kann oder der Verdacht einer Infektion besteht: Speichern Sie
    Ihre offenen Dateien ab und wenden Sie sich sofort an die zuständigen EDV-Verantwortlichen.
</p>
<div class="kapitel-hinweise">
    <h3>Was tun wenn keine kompetente IT-Fachkraft erreichbar ist?</h3>
    <ul>
        <li>
            Speichern Sie Ihre offenen Dateien und schalten Sie den Rechner ab.
        </li>
        <li>
            Überprüfen Sie, ob die Rechner Ihrer Kolleginnen und Kollegen ähnliche Symptome zeigen.
        </li>
        <li>
            Recherchieren Sie von einem nicht befallenen Rechner aus im Internet. Verschiedene Websites, insbesondere von
            Herstellern von Antivirus-Software, enthalten Beschreibungen, wie Sie bestimmte Viren erkennen und entfernen können.
        </li>
        <li>
            Verschiedene Antivirus-Programme enthalten bootfähige CDs. Mit diesen kann der befallene PC gefahrlos gestartet und auf
            Virenbefall geprüft werden. CDs mit derartigen Funktionen können auch aus dem Internet geladen und selbst gebrannt
            werden, das muss aber auf einem nicht befallenen Rechner erfolgen.
        </li>
        <li>
            Verschiedene Websites bieten Online-Virenprüfungen an. Bei Verdacht einer Infektion, d.h. wenn nicht währenddessen
            konkrete Schäden zu befürchten sind, kann der vermeintlich befallene PC getestet werden.
        </li>
    </ul>

</div>

<hr>
<h2>Begriffe:</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=38"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 38:
    </a>
</div>
<br>
<h3>Dialer:</h3>
<p>
    Dialer sind Schadprogramme, die eine Telefonverbindung über kostenpflichtige Mehrwertnummern aufbauen. Die Kosten für
    die Dialer-Verbindung betragen dabei mehrere Euro pro Minute. Die Aktivierung eines Dialers erfolgt in der Regel durch
    den User selbst, der dem Download oder der Installation eines Programms zustimmt. Davon betroffen sind insbesondere
    ungeschützte Smartphones.
</p>
<h3>Hoax:</h3>
<p>
    Als Hoaxes bezeichnet man Warnungen über angebliche neue Computer-Viren, sensationelle Einkunftsmöglichkeiten und
    dergleichen, die in der Regel über E-Mail verbreitet werden und die Empfänger zur Weiterleitung an Andere auffordern.
    Bei diesen Warnungen handelt es sich in der Regel um Falschmeldungen oder Kettenbriefe, die verunsichern oder zu
    unüberlegten Handlungen verleiten sollen. Hoax-Mails und Kettenbriefe sollten daher am besten sofort gelöscht und
    keinesfalls weitergeleitet werden. Nähere Informationen sind auf der Hoax-Liste der TU-Berlin unter
    http://hoax-info.tubit.tu-berlin.de/hoax/hoaxlist.shtml zu finden.
</p>
<h3>Rootkit</h3>
<p>
    Als Rootkit bezeichnet man Software bzw. eine Softwaretechnik, mit der ein System manipuliert werden kann, sodass
    bestimmte Dateien, Prozesse, Netzwerkverbindungen, Speicherbereiche nicht mehr angezeigt werden. Damit ist es möglich,
    das Rootkit und verborgene Schadsoftware einerseits vor Virenscannern und andererseits vor den Computer-Anwenderinnen
    und -Anwendern zu verstecken.
</p>
<h3>Spyware</h3>
<p>
    Als Spyware bezeichnet man Programme, die die User und/oder ihr Surfverhalten ohne deren Wissen ausspionieren. Diese
    Daten werden an den Hersteller der Software oder auch an Dritte, meist mit dem Zweck, personalisierte Werbung und
    Pop-ups einzublenden, weitergeleitet. Mittels Spyware können aber auch sensible persönliche Daten an Unbefugte
    übertragen werden.
</p>
<h3>Viren</h3>
<p>
    Viren sind nicht-selbständige, in andere Programme oder Dateien eingebettete Programmroutinen, die sich selbst
    reproduzieren und dadurch von Anwenderinnen und Anwendern nicht kontrollierbare Manipulationen in Systembereichen, an
    anderen Programmen oder deren Umgebung vornehmen.
</p>
<h3>Trojanische Pferde (Trojaner)</h3>
<p>
    Trojanische Pferde (Trojaner) sind selbständige Programme mit verdeckter Schadensfunktion, ohne Selbstreproduktion.
    Trojanische Pferde dienen vor allem dazu, Computer auszuspionieren. Der Trojaner verdankt seinen Namen dem Umstand, dass
    die Schadensroutinen oft in scheinbar nützlichen Programmen versteckt sind. Ein Programm, das zum Zweck der
    Viren-Entfernung aus dem Internet heruntergeladen wird, kann unter Umständen genau das Gegenteil bewirken. Es ist daher
    immer auch notwendig, die Seriosität der Quelle, von der man Programme bezieht, zu überprüfen.
</p>
<h3>Würmer</h3>
<p>
    Würmer sind selbständige, selbstreproduzierende Programme, die sich in einem System (vor allem in Netzen) ausbreiten. Zu
    diesem Zweck verwenden viele Würmer das Adressbuch des infizierten Rechners und versenden Mails mit gefälschten
    Absenderadressen. Das Öffnen solcher Mails kann bei einem ungeschützten System zu einer Infektion führen.
</p>