<h1>4. E-Mails und Spam</h1>
<p class="kapitel-description">Sicherer Umgang mit unerwünschten Mails</p>
<hr>
<p>
    Daten und Informationen werden immer häufiger per E-Mail ausgetauscht. Dadurch landen aber auch Spam-, Hoax- oder
    Phishing-Mails sowie mit Schadprogrammen verseuchte Nachrichten im Posteingangs-Ordner. Solche unerwünschte
    Nachrichten
    – mit mehr oder weniger gefährlichem Inhalt – machen ca. zwei Drittel des weltweiten E-Mail-Aufkommens aus.
</p>

<h2 class="text-normal">4.1 Umgang mit unerwünschten E-Mails</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=26"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 26:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/pexels-torsten-dettlaff-193003.jpg" alt="">
    <figcaption>
        Foto von
        <a
            href="https://www.pexels.com/de-de/@tdcat?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Torsten Dettlaff
            </a>
        von <a
            href="https://www.pexels.com/de-de/foto/schwarz-grau-digitalgerat-193003/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>
    </figcaption>
</figure>
<div class="kapitel-hinweise">
    <h3>Vor dem Öffnen eingehender E-Mails sollten Sie Folgendes beachten:</h3>
    <ul>
        <li>
            E-Mails im HTML-Format können Skripte mit Schadensfunktion enthalten. Achten Sie auf die
            Vertrauenswürdigkeit des
            Absenders und öffnen Sie keine E-Mails, wenn Ihnen Absender oder Betreffzeile verdächtig erscheinen.
        </li>
        <li>
            Die meisten Schadprogramme werden aber über Dateien, die als Anhang angefügt sind, übertragen.
            Office-Dokumente (.docx,
            .xlsx, .pptx etc.), PDF-Dateien (.pdf), Bild-schirmschoner (.scr) und viele andere Dateitypen können Viren
            enthalten.
        </li>
        <li>
            Öffnen Sie daher niemals Dateianhänge, die Ihnen verdächtig vorkommen. Auch bei vermeintlich bekannten und
            vertrauenswürdigen Absendern ist zu prüfen: Passt der Text der E-Mail zum Absender (englischer Text von
            deutschsprachigem Absender, unsinniger Text, fehlender Bezug zu aktuellen Vorgängen etc.)? Erwarten Sie die
            beigelegten
            Dateien und passen sie zum Absender, oder kommen sie völlig unerwartet?
        </li>
        <li>
            Oft ist die Art des Dateianhangs getarnt und
            über das Icon (z.B. das Word-Symbol) nicht sicher erkennbar. Sie können die Dateianhänge aber problemlos
            z.B. auf Ihren
            Desktop kopieren, um sie zu prüfen.
        </li>
        <li>
            Kein „Doppelklick“ auf ausführbare Programme (.com, .exe) oder Scripts (.vbs, .bat
            etc.)! Besonders verdächtig sind doppelte, „merkwürdige“ Dateinamen-Erweiterungen wie beispielsweise
            .jpg.vbs oder
            .gif.exe: Sie sollen den Empfängern eine harmlose Bilddatei vortäuschen. Tatsächlich handelt es sich jedoch
            sehr oft um
            ein ausführbares Schadprogramm.
        </li>
        <li>
            Unerwünschte E-Mails können oft schon daran erkannt werden, dass sie auffällige
            Rechtschreib- oder Grammatikfehler aufweisen. Häufig stammen sie aus anderen Sprachregionen und wurden nur
            durch
            maschinelle Programme übersetzt. Derartige Fehler müssen als Warnsignal gewertet und die betreffende E-Mail
            mit
            besonderer Vorsicht behandelt werden.
        </li>
        <li>
            Ein weiteres Erkennungsmerkmal betrügerischer E-Mails sind bestimmte „Reizworte“
            (Offene Rechnung, Letzte Mahnung, Konto gesperrt, etc.). Offenbar sollen die Empfängerinnen und Empfänger
            damit unter
            Druck gesetzt und zu unbedachten Handlungen verleitet werden. Bewahren Sie also die Ruhe und prüfen Sie die
            E-Mail
            besonders sorgfältig, bevor Sie einen Dateianhang öffnen oder einen Link anklicken!
        </li>
        <li>
            Öffnen Sie keine E-Mails mit
            Spaßprogrammen, da diese oft Schadfunktionen enthalten.
        </li>
        <li>
            Sogenannte Phishing-Mails, die zur Übermittlung von
            persönlichen Online-Banking- Daten oder Passwörtern (z.B. PIN oder TAN) auffordern, müssen gelöscht werden.
            Die
            angeforderten, vertraulichen Informationen dürfen Sie auf keinen Fall weitergeben.
        </li>
        <li>
            Oftmals kann in einem E-Mail ein Link angeklickt werden, um eine Webseite aufzurufen. Seien Sie dabei
            vorsichtig: In
            betrügerischen E-Mails wird diesen Links oft eine völlig andere Internet-Adresse hinterlegt, als im Mail zu
            sehen ist.
            Beim Anklicken wird dann eine gefälschte Phishing-Webseite aufgerufen oder sogar Schadsoftware installiert.
            Sicherer ist
            es, den Link mittels „Hyperlink kopieren“ in den Browser zu übertragen und ihn vor dem Aufrufen noch einmal
            zu
            überprüfen.
        </li>
        <li>
            Beantworten Sie keine Spam-Mails! Die Rückmeldung bestätigt dem Spam-Versender nur die Gültigkeit Ihrer
            Mail-Adresse und erhöht dadurch Ihr Risiko, weitere Zusendungen zu erhalten. Das Abbestellen von E-Mails ist
            nur bei
            seriösen Zustellern sinnvoll.
        </li>
        <li>
            Benachrichtigen Sie auch Ihre Kolleginnen und Kollegen über verdächtige Zusendungen.
            Besprechen Sie die aktuellen E-Mails, die Sie als Phishing-Versuche oder Virus-Mails erkannt haben, um
            gemeinsam die
            typischen Kennzeichen kennenzulernen. Sie können auf diese Weise sehr rasch Ihre Erkennungsfähigkeit
            trainieren und
            verbessern.
        </li>
    </ul>
</div>

<h3>Auch bei ausgehenden E-Mails sollte Folgendes beachtet werden (um nicht unabsichtlich Viren zu verteilen oder in
    Verdacht zu geraten, Spam-Mails zu versenden):</h3>
<ul>
    <li>
        Prüfen Sie, ob E-Mails im Ausgangs-Postfach stehen, die nicht von Ihnen verfasst wurden. Dies könnte auf Viren
        hindeuten.
    </li>
    <li>
        Versenden Sie keine E-Mails mit z.B. Spaßprogrammen, die Computer-Viren enthalten könnten.
    </li>
    <li>
        Folgen Sie nicht
        den Aufforderungen zur Weiterleitung von Warnungen, Mails oder Datei-anhängen an Freunde, Bekannte oder
        Kolleginnen und
        Kollegen. Es handelt sich meist um Falschmeldungen (Hoaxes), die dann als Kettenbriefe das Mail-System belasten.
    </li>
    <li>
        Folgen Sie nicht
        den Aufforderungen zur Weiterleitung von Warnungen, Mails oder Datei-anhängen an Freunde, Bekannte oder
        Kolleginnen und
        Kollegen. Es handelt sich meist um Falschmeldungen (Hoaxes), die dann als Kettenbriefe das Mail-System belasten.
    </li>
    <li>
        Wenn
        Sie ein Mail an viele Empfänger schicken, die untereinander nicht bekannt sind, setzen Sie deren Adressen in
        „BCC“.
        Damit ist sichergestellt, dass kein Empfänger die E-Mail-Adressen der anderen Adressaten sehen und
        missbräuchlich
        verwenden kann.
    </li>
</ul>
<p>
    Nach österreichischer Rechtslage dürfen Sie keine E-Mails an mehr als 50 E-Mail-Empfänger (Massen-E-Mail) oder zu
    Zwecken der Direktwerbung (Werbe-E-Mail) versenden, sofern Sie nicht vorher deren Zustimmung eingeholt haben. Nähere
    Informationen zu den rechtlichen Rahmenbedingungen für Aussendungen und Werbe-E-Mails finden Sie auf der Website der
    Wirtschaftskammer.
</p>
<hr>
<h2 class="text-normal">4.2 Phishing-Mails</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=28"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 28:
    </a>
</div>
<p>
    Phishing ist eine spezielle Form des Social Engineering, bei der es darum geht, Zugangsdaten zu Online-Banking,
    Online-Zahlungssystemen, Web-Auktionsplattformen etc. zu „ergaunern“. Dies geschieht meist in Form von E-Mails, die
    den
    Empfängerinnen und Empfängern vorgaukeln, dass aufgrund von Wartungsarbeiten oder Sicherheitsüberprüfungen die
    Eingabe
    ihrer Anmeldeinformationen (Login und Passwort bzw. im Bankenbereich PIN und TAN) dringend erforderlich ist.
    Manchmal
    wird auch zusätzlich Druck ausgeübt, in dem die Schließung des Zugangs angedroht wird, sollte nicht binnen einer
    gewissen Frist der Aufforderung entsprochen werden. Ignorieren Sie grundsätzlich alle Mails, die diesem Muster
    folgen.
    Die Wahrscheinlichkeit, dass es sich dabei um ein echtes Mail handelt, ist verschwindend gering.
</p>
<div class="inhalte-exkurs-box">
    <h3>Exkurs: Phishing – Vorsicht vor der Tarnung!</h3>
    <div class="kapitel-reference">
        <span>Referenz:</span>
        <a href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Cyber-Sicherheitslage/Methoden-der-Cyber-Kriminalitaet/Spam-Phishing-Co/Passwortdiebstahl-durch-Phishing/passwortdiebstahl-durch-phishing_node.html"
            target="_blank">
            https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Cyber-Sicherheitslage/Methoden-der-Cyber-Kriminalitaet/Spam-Phishing-Co/Passwortdiebstahl-durch-Phishing/passwortdiebstahl-durch-phishing_node.html
        </a>
    </div>
    <p>
        Als seriöse Bank, Internetanbieter oder anderer Dienstleister getarnt, fordern Spam-E-Mails mit gefälschtem
        Absender die
        Empfänger zum Beispiel zu einer vorgeblich notwendigen Aktualisierung ihrer persönlichen Daten auf. Als Vorwand
        für die
        Bestätigung von Kontoinformationen wird dann zum Beispiel der baldige Ablauf einer Kreditkarte genannt. Oder das
        Passwort müsse wegen eines angeblichen Sicherheitsvorfalls erneuert werden. Dabei spekulieren die Kriminellen
        darauf,
        dass sich unter den Empfängern einer Spam-Welle stets genügend Kunden der im Absender genannten Organisation
        befinden.
        Kein Wunder, dass der Name großer Bankengruppen wie die Sparkassen oder Volks- und Raiffeisenbanken so häufig
        für
        Phishing-Spam missbraucht wird.
    </p>
    <h4>Phishing: Nachahmung von Websites bis zur Perfektion</h4>
    <p>
        Sowohl die Phishing-Mail selbst als auch die Website, auf die ein Link im Text verweist, sind dabei zumeist
        sorgfältig
        nachgeahmt. Cyber-Kriminelle verstehen ihr Handwerk. Allzu oft gelingt es ihnen, durch professionelle Imitation
        des
        Corporate Designs inklusive Logo, Farbgebung und Schriftarten der jeweiligen Organisation überzeugend Echtheit
        vorzutäuschen. Arglose Empfänger lassen sich so leichter dazu verleiten, auf einen Link in der Mail zu klicken –
        zumal
        er sich oftmals hinter einem perfekt designten Button verbirgt. Jetzt haben die Betrüger ihre Opfer genau da, wo
        sie sie
        hinhaben wollen: auf der gefälschten Website einer Organisation, die überall als vertrauenswürdig anerkannt ist.
    </p>
    <h4>Vorsicht, Phishing! Betrügerische E-Mails erkennen</h4>
    <a class="img-link" href="https://www.bsi.bund.de/SharedDocs/Bilder/DE/BSI/Infografiken/Phishing_E_Mails_erkennen.jpg?__blob=normal&v=1" target="_blank">
        <img class="brightness" src="https://www.bsi.bund.de/SharedDocs/Bilder/DE/BSI/Infografiken/Phishing_E_Mails_erkennen.jpg?__blob=normal&v=1"
             alt="<BSI phishing infografik>">
    </a>
    <span class="text-center">(Quelle Bundesamt für Sicherheit in der Informationstechnik)</span>
</div>
<div class="inhalte-exkurs-box">
    <h3>Exkurs: Aktuelle Beispiele für Phishing-Angriffe</h3>
    <div class="kapitel-reference">
        <span>Referenz:</span>
        <a href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Cyber-Sicherheitslage/Methoden-der-Cyber-Kriminalitaet/Spam-Phishing-Co/Passwortdiebstahl-durch-Phishing/passwortdiebstahl-durch-phishing_node.html"
            target="_blank">
            https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Cyber-Sicherheitslage/Methoden-der-Cyber-Kriminalitaet/Spam-Phishing-Co/Passwortdiebstahl-durch-Phishing/passwortdiebstahl-durch-phishing_node.html
        </a>
    </div>
    <p>
        E-Mail vom Onlinehändler: "Ihr Konto wurde eingeschränkt!" – mit dieser Botschaft kursieren aktuell
        Phishing-E-Mails,
        die scheinbar von Amazon stammen. Unter dem Vorwand, Ihre Daten vor Missbrauch zu schützen, versuchen
        Kriminelle, Sie
        zur Eingabe vertraulicher Daten zu bewegen. Denn damit können sie auf fremder Leute Kosten Waren bestellen.
        Wiederum
        droht bei Nichteingabe angeblich eine Kontosperrung.
    </p>
    <a class="img-link" href="https://www.bsi.bund.de/SharedDocs/Bilder/DE/BSI/Phishing/phishing_amazon.png?__blob=normal&v=1" target="_blank">
        <img src="https://www.bsi.bund.de/SharedDocs/Bilder/DE/BSI/Phishing/phishing_amazon.png?__blob=normal&v=1" alt="phishing example">
    </a>
    <span class="text-center">(Quelle https://www.verbraucherzentrale.de)</span>
</div>
<p>
    Phishing-Betrüger gehen auch in der zweiten Phase des Betrugs nach einem speziellen Muster vor: Sind sie im Besitz
    von
    PIN und TAN, können sie dennoch das Geld nicht einfach auf ihr Konto überweisen, denn das wäre leicht
    nachvollziehbar.
    Also werden sogenannte Finanzagenten angeworben, und hier verbirgt sich die zweite Gefahr beim Phishing:
    Finanzagenten
    werden über Spam-Mails angeworben, in denen ein Gewinn über einen bestimmten Geldbetrag zugesagt wird. Reagiert ein
    Mail-Empfänger und gibt seine Kontodaten für die Überweisung bekannt, wird ihm ein Betrag überwiesen, der den Gewinn
    bei
    Weitem übersteigt (z.B.: USD 12.305,- statt „gewonnener“ USD 123,05). Kurz nach der Überweisung erfolgt wieder eine
    Kontaktaufnahme, in der auf diesen Fehler hingewiesen wird. Der Empfänger darf dann für die Unannehmlichkeiten einen
    zusätzlichen Betrag behalten, soll aber den restlichen Differenzbetrag abheben und per internationalem
    Bargeldtransfer
    (Western Union, Moneygram, Bitcoin etc.) überweisen. Notfalls wird auch Druck ausgeübt und suggeriert, dass die
    Versenderin oder der Versender aufgrund dieses Fehlers den Job verlieren könnte. Das gleiche System wird auch
    angewandt,
    wenn Sie über ein Online-Auktionshaus eine Ware verkaufen und Ihnen dafür „irrtümlich“ ein zu hoher Betrag
    überwiesen
    wird.
    <br><br>
    Als unwissentlich angeworbener Finanzagent verlieren Sie zwar nicht Ihr eigenes Geld, machen sich aber strafbar und
    können davon ausgehen, dass Sie zumindest sehr viel Ärger und Unannehmlichkeiten haben werden und möglicherweise
    sogar
    regresspflichtig sind. Ignorieren Sie also alle Aufforderungen, „irrtümlich“ auf Ihrem Konto geparktes Geld mittels
    Bargeldtransfer-Services zu versenden. Wenden Sie sich im Zweifelsfall an ihr Bankinstitut.
    <br><br>
    Phishing-Mails sind oftmals sehr gut gemacht und täuschen selbst Experten. Wenn Sie im Internet nach „Phishing Test“
    suchen, finden Sie verschiedene Ratgeber, worauf Sie achten müssen, um einen Betrugsversuch zu erkennen. Auf diesen
    Websites können Sie Ihr Unterscheidungsvermögen auch anhand konkreter E-Mails überprüfen.
</p>
<hr>
<h2 class="text-normal">4.3 Gefälschte Absenderadressen</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=29"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 29:
    </a>
</div>
<p>
    Wenn Sie E-Mails bekommen, die von bekannten Absendern stammen, aber unpassende Inhalte enthalten, liegt das oft an
    einer gefälschten Absenderadresse. Der angezeigte Absendername lässt sich leicht ändern und entspricht oft nicht dem
    des
    wirklichen Versenders. Auch Schadprogramme können auf E-Mail-Adressbücher zugreifen und unbemerkt Nachrichten an
    alle
    darin gespeicherten E-Mail-Adressen versenden. Als Absender wird häufig der Name einer im Adressbuch gespeicherten
    Person verwendet.Sollten Sie darauf angesprochen werden, dass Sie dubiose E-Mails versenden, sollten Sie sofort
    reagieren: Lassen Sie sich die angeblich von Ihnen versandten Nachrichten vorlegen. Eine Expertin oder ein Experte
    kann
    diese prüfen, um zu klären, von wem sie tatsächlich stammen.
</p>
<hr>
<h2 class="text-normal">4.4 Sparsamer einsatz der eigenen Mail-Adresse im Internet</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=29"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 29:
    </a>
</div>
<p>
    Vorsicht beim Ausfüllen von Webformularen: Häufig führt das Eintragen Ihrer E-Mail-Adresse oder Ihrer persönlichen
    Daten
    zu einer Flut von Werbe- bzw. Spam-Mails. Der Handel mit Mail-Adressen wird in verschiedenen Ländern kaum
    kontrolliert.
    Prüfen Sie auch hier die Vertrauenswürdigkeit der Website!Ein guter Ausweg ist es, bei einem Anbieter von
    Gratis-E-Mail
    (z.B. http://www.gmx.at, http://www.yahoo.at, http://www.gmail.com, http://www.live.com etc.) einen kostenlosen
    E-Mail-Account anzulegen, den Sie ausschließlich für derartige Registrierungen verwenden. Damit haben Sie zusätzlich
    die
    Möglichkeit, private und geschäftliche E-Mails zu trennen. So können auch Probleme beim Ausscheiden aus dem
    Unternehmen
    und der anschließenden Deaktivierung Ihrer E-Mail-Adresse vermieden werden.
</p>

<hr>
<h2>Begriffe:</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=38"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 38:
    </a>
</div>
<br>
<h3>Phishing:</h3>
<p>
    Phishing ist ein Kunstwort aus den beiden Begriffen „Password“ und „Fishing“ und bezeichnet den Versuch mittels
    gefälschter E-Mails an fremde Nutzerdaten (Login, Passwort, TAN etc.) zu gelangen. Normalerweise werden die Empfänger
    solcher Mails unter Vorspiegelung falscher Tatsachen (Userdaten gingen verloren, Neuidentifikation ist notwendig, ...)
    aufgefordert, die Webseite einer Bank (Online Shop, Kreditkarteninstitut, Auktionshaus etc.) aufzusuchen und dort ihre
    Zugangsberechtigungen einzutippen. Diese Webseiten sind ebenfalls gefälscht und sehen den Originalen zum Verwechseln
    ähnlich. 
    <br><br>
    Die dort eingetippten Daten landen natürlich nicht bei der eigenen Bank, sondern auf den Servern von Betrügern, die dann
    mit den Nutzerdaten Transaktionen zum Schaden der User durchführen. Grundsätzlich fordert kein seriöses Unternehmen
    seine Kunden auf, seine User-daten über das Internet zu bestätigen. Es sind also alle diesbezüglichen Mails zu
    ignorieren. In Zweifelsfällen sollte man sich telefonisch mit dem (vermeintlichen) Absender in Verbindung setzen.
</p>
<h3>Spam:</h3>
<p>
    Als Spam bezeichnet man unerwünschte Werbemails, die mittlerweile rund 90 Prozent des gesamten E-Mail-Verkehrs
    ausmachen. Auch bei kleineren Unternehmen ist es durchaus möglich, mehrere hundert Spam-Mails pro Tag zu erhalten.
    Gefährlich ist Spam grundsätzlich nicht, allerdings geht beim Löschen der Werbe-Mails wertvolle Arbeitszeit verloren.
    Mittels spezieller Spam-Filter können entweder bereits auf Provider-/Mailserver-Ebene oder auch erst am eigenen Rechner
    unerwünschte Mails gefiltert und gelöscht werden.
</p>