<img src="../../../assets/seta_logo.svg" alt="" id="seta_logo">
<img src="../../../assets/illustrations/undraw_Growth_analytics_re_pyxf.svg" alt="" id="ill1">
<img src="../../../assets/illustrations/undraw_Opened_re_i38e.svg" alt="" id="ill2">
<img src="../../../assets/illustrations/undraw_server_cluster_jwwq.svg" alt="" id="ill3">
<img src="../../../assets/illustrations/undraw_Setup_re_y9w8.svg" alt="" id="ill4">
<img src="../../../assets/illustrations/undraw_Success_factors_re_ce93.svg" alt="" id="ill5">
<img src="../../../assets/illustrations/undraw_Tabs_re_a2bd.svg" alt="" id="ill6">
<img src="../../../assets/illustrations/undraw_two_factor_authentication_namy.svg" alt="" id="ill7">