<h1>2. Passwörter – richtig auswählen und verwalten</h1>
<p class="kapitel-description">Passwörter dienen dem Schutz von IT-Geräten und Daten und verhindern unbefugte Zugriffe.
    Deswegen sind die richtige Auswahl und der richtige Umgang wichtig: Passwörter müssen komplex sein und geheimgehalten werden.</p>
<hr>

<h2 class="text-normal">2.1 Die richtige Auswahl</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=18"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 18:
    </a>
</div>
<div class="kapitel-hinweise">
    <h3>Beachten Sie bei der Auswahl Ihres Passwortes:</h3>
    <ul>
        <li>Ein gutes Passwort besteht aus mindestens zehn verschiedenartigen Zeichen. Es muss Großbuchstaben, Kleinbuchstaben,
        Ziffern und/oder Sonderzeichen (Satzzeichen, Währungssymbole etc.) enthalten. Nur Klein- und Großbuchstaben zu verwenden
        ist unsicher!
        </li>
        <li>Niemals Namen, Vornamen, Geburtsdaten, Tel.-Durchwahlen, KFZ-Kennzeichen etc. verwenden. Diese werden bei Angriffen
        zuerst ausprobiert.</li>

        <li>Verwenden Sie keine Begriffe aus einem Wörterbuch (auch nicht in einer anderen Sprache). Es gibt Programme, die
        Wortlisten mit mehreren tausend Begriffen sofort abrufen und so mögliche Passwörter finden. Auch Eigennamen,
        geografische Begriffe etc. dürfen nicht verwendet werden.</li>

        <li>Trivial-Passwörter (qwertz, aaaaa, 08/15, 4711 etc.) sind ebenfalls ungeeignet. Sie können von Anderen leicht beim
        Beobachten der Passworteingabe erkannt werden.</li>
    </ul>
</div>
<div class="inhalte-exkurs-box">
    <h3>Exkurs: Länge und Komplexität: zwei entscheidende Merkmale</h3>
    <div class="kapitel-reference">
        <span>Referenz:</span>
        <a href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Sichere-Passwoerter-erstellen/sichere-passwoerter-erstellen_node.html"
            target="_blank">
            https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Sichere-Passwoerter-erstellen/sichere-passwoerter-erstellen_node.html
        </a>
    </div>
    <p>
        Ein starkes Passwort kann "kürzer und komplex" oder "lang und weniger komplex" sein. Doch wie lang und wie komplex
        sollte es mindestens sein? Folgende Beispiele geben Orientierung:
        Ein Passwort ist sicher, wenn es beispielsweise
    </p>
    <ul>
        <li>
            20 bis 25 Zeichen lang ist und zwei Zeichenarten genutzt werden (beispielsweise eine Folge von Wörtern). Es ist dann
            lang und weniger komplex.
        </li>
        <li>
            8 bis 12 Zeichen lang ist und vier Zeichenarten genutzt werden. Es ist dann kürzer und komplex.
        </li>
        <li>
            8 Zeichen lang ist, drei Zeichenarten genutzt werden und es zusätzlich durch eine Mehr-Faktor-Authentisierung
            abgesichert ist (beispielsweise durch einen Fingerabdruck, eine Bestätigung per App oder eine PIN). Dies ist generell
            empfehlenswert.
        </li>
    </ul>
    <a class="img-link" href="https://www.bsi.bund.de/SharedDocs/Bilder/DE/BSI/Aktuell/Sicheres_Passwort_passwoerter_merken_pizza.jpg?__blob=normal&v=1" target="_blank">
        <img src="https://www.bsi.bund.de/SharedDocs/Bilder/DE/BSI/Aktuell/Sicheres_Passwort_passwoerter_merken_pizza.jpg?__blob=normal&v=1" alt=" ">
    </a>
    <span class="text-center">(Quelle Bundesamt für Sicherheit in der Informationstechnik)</span>
</div>


<hr>
<h2>2.2 Der richtige Umgang</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=19"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 19:
    </a>
</div>
<p>
    Geben Sie Ihre Passwörter – insbesondere das Passwort für das Anmelden am Computer – nicht an Ihre Kolleginnen und
    Kollegen oder an Ihre Vorgesetzten weiter. Sollte die Weitergabe unbedingt notwendig sein, ändern Sie Ihr Passwort
    anschließend sofort.
    <br><br>
    Setzen Sie für verschiedene Anmeldungen verschiedene Passwörter ein! [...]
    <br><br>
    Auf keinen Fall dürfen Sie das gleiche Passwort für die Anmeldung am Firmen-PC und Anmeldungen im Internet (z.B. dem
    E-Mail-Konto bei einem Internet-Provider) verwenden. Wenn es in falsche Hände gerät, kann es gegen Ihr Unternehmen
    eingesetzt werden: Es gibt Fälle, wo Benutzer auf Webseiten gelockt und zur Angabe einer E-Mail-Adresse und eines
    Passworts aufgefordert wurden – in der (kriminellen) Hoffnung, dass das Opfer aus Bequemlichkeit keine
    unterschiedlichen Passwörter verwendet.
</p>
<div class="inhalte-exkurs-box">
    <h3>Exkurs: No-Go: Passwörter verschicken</h3>
    <div class="kapitel-reference">
        <span>Referenz:</span>
        <a href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Sichere-Passwoerter-erstellen/Umgang-mit-Passwoertern/umgang-mit-passwoertern_node.html"
            target="_blank">
            https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Sichere-Passwoerter-erstellen/Umgang-mit-Passwoertern/umgang-mit-passwoertern_node.html
        </a>
    </div>
    <p>
        In der Regel werden E-Mails unverschlüsselt versandt und können so von Dritten auf ihrem Weg durch das Internet
        mitgelesen werden. Zudem können E-Mails im Internet verloren gehen oder herausgefiltert werden. Der Absender einer
        E-Mail hat daher keine Gewissheit, dass seine Nachricht den gewünschten Empfänger auch wirklich erreicht hat. Aus diesen
        Gründen sollten Sie Passwörter nicht per E-Mail versenden.
        <br><br>
        Grundsätzlich gilt zudem: Wenn Sie Ihre Passwörter verschicken bzw. an Dritte weitergeben, verlieren Sie damit in
        gewisser Weise die Kontrolle, weil diese Dritten nun theoretisch die entsprechenden Dienste nutzen und die dort
        hinterlegten Informationen ändern können. So haben Sie sich umsonst die Mühe für ein gutes Passwort gemacht.
    </p>
    <hr>
    <h4>Sollten Sie Passwörter notieren?</h4>
    <p>
        Wer viele Online-Accounts hat, für den empfiehlt sich ein Passwort-Verwaltungsprogramm wie zum Beispiel 
        <a href="http://keepass.info/" target="_blank">keepass</a> (eine
        deutsche Sprachdatei für dieses englischsprachige Programm gibt es auf der Herstellerseite). Diese Programme können
        neben der Passwort-Verwaltung auch starke Passwörter generieren (berücksichtigen Sie bei den Einstellmöglichkeiten zur
        Passwortgenerierung unsere oben genannten Mindestempfehlungen). Sie müssen sich dann nur noch ein gutes Masterpasswort
        überlegen und merken.
    </p>
</div>

<hr>
<h2>2.3 Passwort-Manager verwenden</h2>
<div class="kapitel-reference">
    <span>Referenz:</span>
    <a href="https://www.wko.at/service/innovation-technologie-digitalisierung/it-sicherheitshandbuch-mitarbeiter.pdf#page=19"
        target="_blank">
        WKO Sicherheitshandbuch für Mitarbeiterinnen und Mitarbeiter, Seite 19:
    </a>
</div>
<figure>
    <img src="../../../../assets/stock_photos/keepass.png" alt="">
    <figcaption>
        Foto von <a
            href="https://keepass.info/">https://keepass.info/</a>
    </figcaption>
</figure>

<p>
    Mit einem Passwort-Manager können mehrere, unterschiedliche Passwörter verwaltet und durch ein einziges Master-Passwort
    geschützt werden. Dieses Passwort muss sicher sein, also zumindest die obigen Kriterien erfüllen. Manche
    Passwort-Manager generieren auch auf Knopfdruck sichere Passwörter.
    <br><br>
    Wenn Sie in Ihrem Internet-Browser einen integrierten Passwort-Manager verwenden, aktivieren Sie bitte die Option
    „Master Passwort“. Dann können Sie ein sicheres Master-Passwort wählen.
    <br><br>
    Sie finden im Internet eine Reihe kostenloser Passwort-Manager. Verschiedene Websites, auf denen Sie den Sicherheitsgrad
    Ihrer Passwörter testen und überprüfen können, sind mit einer Internet-Suche nach „Passworttest“ leicht zu finden.
</p>
<div class="inhalte-exkurs-box">
    <h3>Exkurs: Passwörter verwalten mit dem Passwort-Manager</h3>
    <div class="kapitel-reference">
        <span>Referenz:</span>
        <a href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Sichere-Passwoerter-erstellen/Umgang-mit-Passwoertern/umgang-mit-passwoertern_node.html"
            target="_blank">
            https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Sichere-Passwoerter-erstellen/Umgang-mit-Passwoertern/umgang-mit-passwoertern_node.html
        </a>
    </div>
    <hr>
    <h4>Vorteile des Passwort-Managers:</h4>
    <ul>
        <li>
            <b>Verwahren von Passwörtern</b> und Benutzernamen mittels Verschlüsselung
        </li>
        <li>
            <b> Unterstützung bei der Passwortvergabe:</b> z. B. durch die Generierung starker Kombinationen und Kennzeichnung schon
            verwendeter oder schwacher Begriffe.
        </li>
        <li>
            <b> Warnung vor gefährdeten Websites und möglichen Phishing-Attacken </b>, z. B. wenn sich die URL der aufgerufenen Webseite von
            der gespeicherten unterscheidet.
        </li>
        <li>
            <b>Synchronisieren möglich: </b> Wer Online-Dienste auf mehreren Geräten wie Computer und Smartphone mit unterschiedlichen
            Betriebssystemen nutzen möchte, kann ein Programm verwenden, das diese synchronisiert.
        </li>
    </ul>
    <h4>Nachteile des Passwort-Managers:</h4>
    <ul>
        <li>
            Beim Vergessen des Masterpassworts sind im schlechtesten Fall alle Daten verloren: Das bedeutet oftmals viel Arbeit, da
            die einzelnen Zugänge zu den Konten individuell wiederhergestellt werden müssen.
        </li>
        <li>
            Alle Passwörter können auf einmal gestohlen werden, sollte ein Cyber-Angriff auf einen Passwort-Manager erfolgreich
            sein.
        </li>
        <li>
            Bei cloudbasierten Diensten vertrauen Sie den Zugang zu all Ihren sensiblen Daten in der Regel einem Unternehmen an.
            Hier lohnt sich ein Blick in die AGB und Datenschutzerklärungen des jeweiligen Herstellers. Die Informationen über den
            Standort des Cloud-Dienste-Anbieters und der Server geben Auskunft darüber, welchem Datenschutzrecht die Daten
            unterworfen sind.
        </li>
    </ul>
    <hr>
    <h4>Lohnt sich ein Passwort-Manager?</h4>
    <p>
        Ja, in der Regel lohnt sich der Einsatz eines Passwort-Managers. Es ist in jedem Fall besser, als gängige Passwörter
        wiederholt zu benutzen. Die konkrete Entscheidung darüber, welches Programm genutzt wird, erfordert ein individuelles
        Abwägen der jeweiligen Nutzung. Es geht dabei auch um die Einschätzung des damit verbundenen Risikos.
    </p>
</div>